FLASK_HOST=127.0.0.1
FLASK_PORT=5000
FLASK_DEBUG=false
SERIAL_PORT=COM12
BAUD_RATE=115200
DEFAULT_DRAW_FEED=1200
DEFAULT_TRAVEL_FEED=3000
DEFAULT_PEN_UP_S=575
DEFAULT_PEN_DOWN_S=700
DEFAULT_PEN_UP_DWELL_MS=30
DEFAULT_PEN_DOWN_DWELL_MS=60
MIN_SERVO_S=500
MAX_SERVO_S=1000
MAX_CONTENT_LENGTH=2097152
